{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>JasmineCakes</title>
</head>
<body>
    
    <nav class="nav-wrapper">
        <div class="container">
            <div class="nav-wrapper navbar-fixed">
                <a href="{% url 'pages:home' %}" class="brand-logo">JasmineCakes</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                <li><a href="">About Us</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
                <li><a href="">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
            
    <ul class="sidenav pink lighten-3" id="mobile-nav">
        <li><a href="">About Us</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href="{% url 'contact:contact' %}">Contact Us</a></li>
        <li><a href="">Blog</a></li>
    </ul> 

    <!-- Django Template Tags -->
    {% block content %}
    {% endblock %}
    <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Footer Content</h5>
                  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  <h5 class="white-text">We're Social. Follow Us!</h5>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-instagram"></i>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Gallery</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'contact:contact' %}">Contact Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright center">
              <div class="container">
              &copy; 2018 Jasmine Cakes and Chops Co.
              </div>
            </div>
          </footer>
        
    <script src="{% static 'js/materialize.min.js' %}"></script>

    <!-- Mobile Navbar -->
    <script>
       const sideNav = document.querySelector('.sidenav');
       M.Sidenav.init(sideNav, {});   
       
       const slider = document.querySelectorAll('.slider');
       M.Slider.init(slider, {
           indicators: false,
           height: 500
        });

        const gal = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(gal, {});

        const elems = document.querySelectorAll('.datepicker');
        M.Datepicker.init(elems, {
          format: 'yyyy-mm-dd'
        });
    </script>    
</body>
</html>